<header>
  <h1 routerLink="/">OnlineFoodStore</h1>

  <nav>
    <div class="gooey-filter">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/cart" routerLinkActive="active">Cart</a>

      <ng-container *ngIf="auth.isLoggedIn()">
        <a routerLink="/my-orders" routerLinkActive="active">Orders</a>
        <a *ngIf="auth.isAdmin()" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      </ng-container>
    </div>

      <ng-container *ngIf="!auth.isLoggedIn()">
        <a class="login-btn" routerLink="/login">Login</a>
        <a class="register-btn" routerLink="/register">Register</a>
      </ng-container>

    <ng-container *ngIf="auth.isLoggedIn()">
      <span>Hi, {{ auth.getUser()?.name }}</span>
      <!-- <span [style.color]="auth.isAdmin() ? 'green' : '#961B39'">Hi, {{ auth.getUser()?.name }}</span> -->
      <button class="logout-btn" (click)="logout()">Logout</button>
    </ng-container>
  </nav>
</header>


<!-- filter: css -->
<svg style="height: 0; width: 0; display: none;">
  <filter id="gooey-filter">
    <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 30 -15" result="goo" />
    <feComposite in="SourceGraphic" in2="goo" operator="atop" />
  </filter>
</svg>