.orders-page {
  padding: 20px;
}

h2 {
  color: #961B39;
  margin-bottom: 20px;
}

.order-card {
  border: 2px solid #961B39;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-header p {
  margin: 5px 0;
}

.order-items {
  margin-top: 10px;
}

.order-items h4 {
  margin-bottom: 5px;
  color: #961B39;
}

.order-status {
  margin-top: 15px;
}

select {
  padding: 8px;
  border: 2px solid #961B39;
  border-radius: 8px;
  margin-right: 10px;
}

button {
  background: #961B39;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
}

button:hover {
  background: #7e172e;
}
