.home {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    .header {
        position: sticky;
        inset: 0rem;
       	z-index: 9999;
    }
    .main{
        margin: 1rem;
    }

    .footer {
        margin-top: auto;
    }
}