.cart-container {
  padding: 20px;
}

h2 {
  color: #961B39;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #961B39;
}

.cart-item img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover;
}

.details h3 {
  margin: 0;
  font-size: 18px;
}

.details p {
  margin: 4px 0;
}

.remove-btn {
  background: #961B39;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.remove-btn:hover {
  background: #7a152e;
}

.total-box {
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
  background: #961B39;
  color: white;
}

.checkout-btn {
  background: #fff;
  color: #961B39;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.checkout-btn:hover {
  background: #f1f1f1;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #961B39;
  font-size: 22px;
}
