.checkout-container {
  padding: 20px;
}

h2, h3 {
  color: #961B39;
  margin-bottom: 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #961B39;
  margin-top: 5px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.total-box {
  margin-top: 20px;
  padding: 15px;
  background: #961B39;
  color: white;
  border-radius: 10px;

  h3{
    color: white;
  }
}

.place-order-btn {
  margin-top: 20px;
  background: #961B39;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.place-order-btn:hover {
  background: #7a152e;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #961B39;
  font-size: 22px;
}
